<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update department</title>
</head>
<body>

<form th:method="PATCH"
      th:action="@{/departments/{id}(id=${department.getDepartmentID()})}"
      th:object="${department}">
    <lable for="departmentName">Department name: </lable>
    <input type="text" th:field="*{departmentName}" id="departmentName/">

    <br/>
    <lable for="director">Director: </lable>
    <input type="text" th:field="*{director}" id="director/">

    <br/>
    <lable for="moderator">Moderator: </lable>
    <input type="text" th:field="*{moderator}" id="moderator/">

    <br/>
    <lable for="headDepartment">Head department: </lable>
    <input type="text" th:field="*{headDepartment}" id="headDepartment/">

    <br/>
    <lable for="subordinateDepartment">Subordinate department: </lable>
    <input type="text" th:field="*{subordinateDepartment}" id="SubordinateDepartment/">

    <br/>
    <input type="submit" value="Apply changes">

</form>

</body>
</html>